<div *ngIf="!isUserLoggedIn && !isAdminLoggedIn  && !isManagerLoggedIn">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Guest Nav</h1>
    <span class="spacer"></span>
    <button mat-button routerLink="/login"  routerLinkActive="active">Log in <i class="bi bi-box-arrow-right"></i> </button>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="!isCollapsed" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/products" routerLinkActive="active">
      <span class="entry">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="!isCollapsed">Products</span>
      </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Admin Nav</h1>
    <span class="spacer"></span>
    <button mat-button (click)="logout()"  routerLinkActive="active">Log out <i class="bi bi-box-arrow-right"></i> </button>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="!isCollapsed" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </span>
        </a>
        <a mat-list-item routerLink="/admin/users" routerLinkActive="active">
      <span class="entry">
        <mat-icon>people</mat-icon>
        <span *ngIf="!isCollapsed">Users</span>
      </span>
        </a>
        <a mat-list-item routerLink="/products" routerLinkActive="active">
      <span class="entry">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="!isCollapsed">Products</span>
      </span>
        </a>
        <a mat-list-item routerLink="/admin/tasks" routerLinkActive="active">
      <span class="entry">
        <mat-icon>assignment</mat-icon>
        <span *ngIf="!isCollapsed">Tasks</span>
      </span>
        </a>
        <a mat-list-item routerLink="/storage" routerLinkActive="active">
      <span class="entry">
        <mat-icon>warehouse</mat-icon>
        <span *ngIf="!isCollapsed">Storage</span>
      </span>
        </a>
        <a mat-list-item routerLink="/orders" routerLinkActive="active">
      <span class="entry">
        <mat-icon>list_alt</mat-icon>
        <span *ngIf="!isCollapsed">Orders</span>
      </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="isManagerLoggedIn">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Manager Nav</h1>
    <span class="spacer"></span>
    <button mat-button (click)="logout()"  routerLinkActive="active">Log out <i class="bi bi-box-arrow-right"></i> </button>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="!isCollapsed" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/manager/dashboard" routerLinkActive="active">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </span>
        </a>
        <a mat-list-item routerLink="/products" routerLinkActive="active">
      <span class="entry">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="!isCollapsed">Products</span>
      </span>
        </a>
        <a mat-list-item routerLink="/my-tasks" routerLinkActive="active">
      <span class="entry">
        <mat-icon>assignment</mat-icon>
        <span *ngIf="!isCollapsed">Tasks</span>
      </span>
        </a>
        <a mat-list-item routerLink="/products" routerLinkActive="active">
      <span class="entry">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="!isCollapsed">Products</span>
      </span>
        </a>
        <a mat-list-item routerLink="/storage" routerLinkActive="active">
      <span class="entry">
        <mat-icon>warehouse</mat-icon>
        <span *ngIf="!isCollapsed">Storage</span>
      </span>
        </a>
        <a mat-list-item routerLink="/orders" routerLinkActive="active">
      <span class="entry">
        <mat-icon>list_alt</mat-icon>
        <span *ngIf="!isCollapsed">Orders</span>
      </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="isUserLoggedIn">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>User Nav</h1>
    <span class="spacer"></span>
    <button mat-button (click)="logout()"  routerLinkActive="active">Log out <i class="bi bi-box-arrow-right"></i> </button>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="!isCollapsed" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/user/dashboard" routerLinkActive="active">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </span>
        </a>
        <a mat-list-item routerLink="/products" routerLinkActive="active">
      <span class="entry">
        <mat-icon>store</mat-icon>
        <span *ngIf="!isCollapsed">Products</span>
      </span>
        </a>
        <a mat-list-item routerLink="/basket" routerLinkActive="active">
      <span class="entry">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="!isCollapsed">Basket</span>
      </span>
        </a>
        <a mat-list-item routerLink="/my-orders" routerLinkActive="active">
      <span class="entry">
        <mat-icon>list_alt</mat-icon>
        <span *ngIf="!isCollapsed">Orders</span>
      </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
