<div class="container">
  <h2>My Orders</h2>

  <div *ngIf="myOrders && myOrders.length > 0; else noOrders">
    <div *ngFor="let order of myOrders">
      <div class="order-details">
        <h3>Order ID: {{ order.id }}</h3>
        <p>Order Date: {{ order.createDate | date: 'medium' }}</p>
        <p>Address: {{ order.address }}</p>
        <p>Comment: {{ order.comment }}</p>
        <button mat-icon-button (click)="orderInfo(order.id)">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <ng-template #noOrders>
    <p>No orders found.</p>
  </ng-template>
</div>
