.btn-custom {
  background-color: #696969;
  color: #fff;
}
.btn-custom2 {
  background-color: #696969;
  color: #fff;
}
.price {
   font-size: 1.5em;
   font-family: 'Your Chosen Font', sans-serif;
   font-weight: bold;
   color: black;

 }
.name {
  font-size: 1.5em;
  font-family: 'Your Chosen Font', sans-serif;
  font-weight: bold;
  color: black;

}
.card img {
    width: 100%;
    height: auto;
}
.card {
  border: none;
  background-color: transparent;
}
.card-text.price::after {
  content: '$';
  font-size: 0.7em;
  display: inline-block;
  margin-right: 4px;
}
.card:hover {
  cursor: pointer;
}

.inp{
    width: 120px;
}

.btn{
    margin-top: 12px;
    justify-content: center;
    text-align: center;
}

.mat-simple-snackbar {
    background: #d9534f;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
