<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <img [src]="getPhotoPath(2)" alt="логін" class="photo1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://anc.ua/" class="btn btn-custom">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <img [src]="getPhotoPath(3)" alt="логін" class="photo1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://podorozhnyk.ua/" class="btn btn-custom">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <img [src]="getPhotoPath(4)" alt="логін" class="photo1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://doc.ua/ua/kliniki/kiev/all" class="btn btn-custom">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <img [src]="getPhotoPath(5)" alt="логін" class="photo1">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://www.add.ua/ua/medicinskie-izdelija/domashnie-medicinskie-pribory/" class="btn btn-custom">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
