/* Загальний відступ між рядками карточок */
.row {
  margin-bottom: 20px;
}

/* Стилі карточок */
.card {
  /* Додаємо відступи всередині карточки */
  padding: 15px;
  /* Закруглюємо кути карточки */
  border-radius: 10px;
  /* Додаємо тінь для виділення карточки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стилі для кнопок в карточках */
.card .btn {
  /* Змінюємо колір кнопок */
  background-color: #696969;
  /* Змінюємо колір тексту на кнопках */
  color: #fff;
  border-color: transparent;
}

/* Стилі для заголовків карточок */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стилі для тексту в карточках */
.card-text {
  font-size: 1rem;
  /* Змінюємо колір тексту */
  color: #333;
}
